* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: url(../assets/img/fundo-branco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
}
/*----RESET DO SCROLL-----*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #c9940f;
}
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}
/*-----RESET DOS TÍTULOS DAS SESSÕES----*/
.title-section {
  text-transform: uppercase;
  letter-spacing: 15px;
  font-family: "Goblin One", sans-serif;
  font-size: 30px;
  text-align: center;
  color: black;
}
/*---ANIMAÇÃO DOS TÍTULOS E LINKS DE CONTATOS----*/
.animate {
  opacity: 0;
  transition: 3s;
}

.animate.from-left {
  transform: translateX(-100%);
}

.animate.from-right {
  transform: translateX(100%);
}

.animate.show {
  transform: translate(0);
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .title-section {
    font-size: 22px;
    letter-spacing: 8px;
  }
}
