* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0 40px;
  background-color: var(--body-bg);
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
}
main,
section,
footer {
  background-color: var(--main-section-bg);
}
/*------- RESET DE CORES----- */
:root {
  --body-bg: #c39316;
  --btn-bg: #fff;
  --btn-cl: #000000;
  --btn-bg-hover: #fddf65;
  --btn-cl-hover: #000000;
  --border: #fff;
  --outline: #000000;
  --eo-cl: #fff;
  --eo-shadow: #ffff00;
  --eo-shadow_2: #000000;
  --eo-text-shadow: #000000;
  --dark-bg: #fff;
  --dark-border: #000000;
  --dark-shadow: #ffff00;
  --a-cl: #fff;
  --a-text-shadow: #ffff00;
  --a-text-shadow_2: #000000;
  --title-section-cl: #fff;
  --header-bg: #c39316;
  --main-section-bg: #fddf65;
  --main-text-cl: #000000;
  --welcome-cl: #fff;
  --welcome-text-shadow: #ffff00;
  --welcome-text-shadow_2: #000000;
  --barra-bg: #c39316;
  --form-bg: #c39316;
  --form-label-cl: #c39316;
  --link-cl: #fff;
  --link-cl-hover: #03bac7;
  --btn-up-bg: #000000;
  --btn-up-arrow-border: #fff;
  --scroll-track: #c39316;
  --scroll-thumb: #fff;
}

.dark:root {
  --body-bg: #000000;
  --btn-bg: #c39316;
  --btn-cl: #000000;
  --btn-bg-hover: #fddf65;
  --btn-cl-hover: #000000;
  --border: #fff;
  --outline: #c39316;
  --eo-cl: #fff;
  --eo-shadow: #fff;
  --eo-shadow_2: #000000;
  --eo-text-shadow: #000000;
  --dark-bg: #000000;
  --dark-border: #fff;
  --dark-shadow: #fff;
  --a-cl: #fff;
  --a-text-shadow: #fff;
  --a-text-shadow_2: #000000;
  --title-section-cl: #c39316;
  --header-bg: #000000;
  --main-section-bg: #0f0e0e;
  --main-text-cl: #fff;
  --welcome-cl: #c39316;
  --welcome-text-shadow: #fff;
  --welcome-text-shadow_2: #000000;
  --barra-bg: #000000;
  --form-bg: #000000;
  --form-label-cl: #000000;
  --link-cl: #c39316;
  --link-cl-hover: #03bac7;
  --btn-up-bg: transparent;
  --btn-up-arrow-border: #c39316;
  --scroll-track: #000000;
  --scroll-thumb: #fff;
}

/* --RESET DE HOVER--- */
@media (hover: hover) and (pointer: fine) {
  .show-hover:hover {
    color: var(--btn-cl-hover);
    background-color: var(--btn-bg-hover);
    transition: transform 200ms ease-in-out;
  }
}

/*----RESET DO SCROLL-----*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--scroll-track);
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 10px;
}
/*-----RESET DOS TÍTULOS DAS SESSÕES----*/

.title-section {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-family: "Yuji Hentaigana Akari", "Merienda", "Dancing Script",
    "Fira Code", sans-serif;
  font-size: 3em;
  font-weight: 900;
  text-align: center;
  color: var(--title-section-cl);
  text-shadow: 5px 5px 3px black;
}

/*---ANIMAÇÃO DOS TÍTULOS E LINKS DE CONTATOS----*/
.animate {
  opacity: 0;
  transition: 1.5s;
}

.animate.from-left {
  transform: translateX(-100%);
}

.animate.from-right {
  transform: translateX(100%);
}

.animate.show {
  transform: translate(0);
  opacity: 1;
}
@media screen and (max-width: 767px) {
  body {
    padding: 0 10px;
  }
  .title-section {
    font-size: 30px;
    letter-spacing: 8px;
  }
}

/* <button class="button hover-efeito">Clique aqui</button>
<div class="card hover-efeito">Conteúdo</div> */

/* @media (hover: hover) and (pointer: fine) {
  .hover-efeito:hover {
    transform: scale(1.05);
    transition: transform 200ms ease-in-out;
    background-color: #f0f0f0;
  }
} */
