.box-dark {
  width: 70px;
  height: 35px;
  padding: 2px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #c3c3c3;
  border: 2px solid black;
  position: relative;
  cursor: pointer;
}

.btn-dark {
  width: 25px;
  height: 25px;
  background-image: url(../../assets/img/sol-animado.gif);
  background-size: cover;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  left: 2px;
  transition: 0.5s;
}
.box-dark.dark {
  background-color: #8b8989;
}
.box-dark.dark .btn-dark {
  left: 39px;
  background-image: url(../../assets/img/lua.jpeg);
  background-size: cover;
}

body.dark {
  background-image: url(../../assets/img/fundo-body.png);
}
body.dark p {
  color: white;
}

body.dark h2 {
  color: goldenrod;
}
body.dark address {
  color: white;
}

@media screen and (max-width: 767px) {
  .box-dark {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
  }
}
