.section-contatos {
  width: 100%;
  height: auto;
  padding: 35px 0;
  overflow: hidden;
}

.select {
  width: 80%;
  height: auto;
  margin: 40px auto 10px;
  display: flex;
  gap: 70px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.formulario {
  width: 550px;
  height: fit-content;
  padding: 20px;
  background-image: url(/assets/img/contato-email.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  border-radius: 15px;
  border: 2px solid goldenrod;
}

.formulario .label {
  font-family: "Fira Code", sans-serif;
  font-size: 20px;
  color: white;
}

.formulario .input {
  width: 100%;
  display: block;
  border-radius: 10px;
  border: 2px solid goldenrod;
  font-size: 20px;
  opacity: 0.7;
  outline: none;
}

.input:focus {
  opacity: 1;
}
.textarea {
  height: 130px;
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
}
.formulario .enviar {
  width: 60%;
  margin: 15px calc(20%);
  padding: 8px 0;
  opacity: 0.7;
  font-size: 28px;
  font-weight: 400;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  color: goldenrod;
  background-color: white;
  border: 2px solid goldenrod;
  border-radius: 10px;
  transition: 200ms ease;
}

.formulario .enviar:hover {
  opacity: 1;
  font-weight: 800;
}

.boxPulsar {
  width: 450px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.imgPulsar {
  width: 250px;
  height: 250px;
}

.boxPulsar:before,
.boxPulsar:after {
  content: " ";
  display: block;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 30px;
  bottom: 35px;
  border-radius: 50%;
  border: 2px solid goldenrod;
  outline: 2px solid black;
  box-shadow: 0 0 10px goldenrod, 0 0 20px;
  animation: arroba 1.5s linear infinite;
  opacity: 0;
}

.boxPulsar:after {
  animation-delay: 0.5s;
}

@keyframes arroba {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@media screen and (max-width: 1309px) {
  .formulario {
    background-size: cover;
  }
  .select {
    width: 95%;
  }
}
@media screen and (max-width: 1180px) {
  .select {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .section-contatos {
    padding: 0;
  }
  .select {
    margin: 20px auto 0;
    gap: 10px;
  }
  .formulario {
    width: 95%;
    padding: 10px;
  }
  .boxPulsar {
    width: 300px;
    height: 300px;
  }
  .imgPulsar {
    width: 200px;
    height: 200px;
  }
  .boxPulsar:before,
  .boxPulsar:after {
    animation-duration: 2s;
  }
}
