.section-contatos {
  width: 100%;
  height: auto;
  padding: 55px 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/img/contato-email.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.select {
  width: fit-content;
  height: auto;
  margin: 40px 10px;
}

.formulario {
  max-width: 400px;
  width: 100%;
  min-width: 310px;
  height: fit-content;
  margin: 0 auto;
  padding: 20px;
  background-color: #0000008c;
  border-radius: 15px;
  border: 2px solid goldenrod;
  outline: 1px solid black;
}

.formulario .label {
  font-family: "Fira Code", sans-serif;
  font-size: 20px;
  color: white;
}

.formulario .input {
  width: 100%;
  padding: 3px 10px;
  color: black;
  display: block;
  border-radius: 10px;
  border: 2px solid goldenrod;
  font-size: 18px;
  opacity: 0.7;
  outline: 1px solid black;
}

.input:focus {
  opacity: 1;
}
.textarea {
  height: 130px;
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
}
.formulario .enviar {
  width: 60%;
  margin: 15px calc(20%);
  padding: 3px 0;
  opacity: 0.7;
  font-size: 20px;
  font-weight: 400;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  color: goldenrod;
  background-color: white;
  border: 2px solid goldenrod;
  outline: 1px solid black;
  border-radius: 10px;
  transition: 200ms ease;
}

.formulario .enviar:hover {
  opacity: 1;
  font-weight: 800;
}
.formulario .enviar:active {
  transform: scale(0.9);
}

@keyframes arroba {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@media screen and (max-width: 767px) {
  .select {
    margin: 20px auto 0;
  }
  .formulario {
    width: 95%;
    padding: 10px;
  }
}
