.section-habilidades {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 100px 0 50px 0;
}

.habilidades {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-box {
  width: 48%;
  margin: 15px 0;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.box {
  width: 150px;
  height: 150px;
  position: relative;
  background-color: black;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-habilidades {
  width: 90%;
  position: relative;
  z-index: 1;
  border-radius: 30px;
}

.box::before {
  content: " ";
  position: absolute;
  width: 100px;
  height: 200%;
  background: linear-gradient(180deg, #07e2f1, #eb9b05);
  animation: animate 3s linear infinite;
}

@keyframes animate {
  100% {
    transform: rotate(360deg);
  }
}

.box::after {
  content: " ";
  position: absolute;
  background-color: black;
  inset: 5px;
  border-radius: inherit;
}

.box2::before {
  content: " ";
  position: absolute;
  width: 100px;
  height: 200%;
  background: linear-gradient(180deg, #07e2f1, #eb9b05);
  animation: animate2 3s linear infinite;
}
@keyframes animate2 {
  100% {
    transform: rotate(-360deg);
  }
}

.box2::after {
  content: " ";
  position: absolute;
  background-color: black;
  inset: 5px;
  border-radius: inherit;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .container-box {
    width: 95%;
  }
}
@media screen and (max-width: 767px) {
  .section-habilidades {
    padding: 20px 0;
  }
  .habilidades {
    width: 95%;
  }
  .container-box {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
