.section-projetos {
  width: 100%;
  height: auto;
  padding: 35px 0;
  overflow: hidden;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper-card {
  width: 80%;
  height: auto;
  margin: 15px auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.card-project {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 0 goldenrod;
  border-radius: 3%;
}

.imgCard {
  width: 300px;
  height: 200px;
  border: 1px solid white;
  border-radius: 3%;
}
.card-project:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
@media screen and (min-width: 961px) and (max-width: 1170px) {
  .card-project {
    width: 240px;
    height: 150px;
  }

  .imgCard {
    width: 240px;
    height: 150px;
  }
}
@media screen and (min-width: 681px) and (max-width: 960px) {
  .wrapper-card {
    width: 90%;
  }
  .card-project {
    width: 190px;
    height: 150px;
  }

  .imgCard {
    width: 190px;
    height: 150px;
  }
}
@media screen and (max-width: 680px) {
  .wrapper-card {
    width: 95%;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 10px;
    justify-content: center;
  }
}
