.section-sobre {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url(../../assets/img/cabeçalho.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.titulo-animado {
  width: 450px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  white-space: nowrap;
  font-size: 30px;
  overflow: hidden;
  color: white;
  font-family: "Goblin one", sans-serif;
  animation: cursor 500ms steps(30) infinite normal,
    tempo 3s steps(40) 1s normal both;
}

@keyframes cursor {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes tempo {
  from {
    width: 0;
  }
  to {
    width: 15em;
  }
}

.boxPerfilTexto {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.boxPerfil {
  width: 290px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.logoPerfil {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid goldenrod;
  animation: logoPerfil 2s ease-in-out;
}

@keyframes logoPerfil {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }
  100% {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
}
.boxTexto {
  width: 66%;
  height: auto;
  border-left: 2px solid goldenrod;
  padding: 15px;
}
.boxTexto p {
  color: white;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  font-family: "Trebuchet MS", sans-serif;
}

@media (max-width: 1280px) {
  .section-sobre {
    height: auto;
    padding-top: 20px;
  }
  .boxPerfilTexto {
    width: 95%;
  }
}

@media screen and (min-width: 601px) and (max-width: 940px) {
  .boxPerfilTexto {
    flex-direction: column;
  }
  .boxTexto {
    width: 90%;
  }
  .boxTexto p {
    font-size: 28px;
  }
}
@media (max-width: 600px) {
  .welcome {
    font-size: 22px;
  }

  .boxTexto {
    width: 90%;
    border: none;
    padding: 0;
  }
  .boxTexto p {
    font-size: 20px;
  }
}
