.section-sobre {
  width: 100%;
  padding-bottom: 30px;
  background-image: url(../../assets/img/fundo-cabeçalho.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.titulo-animado {
  width: 645px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: titulo-animado 3s ease infinite;
}
@keyframes titulo-animado {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}
.welcome {
  text-align: center;
  white-space: nowrap;
  font-size: 60px;
  overflow: hidden;
  color: white;
  text-shadow: 5px 5px 5px black;
  font-family: "Dancing Script";
  animation: cursor 500ms steps(30) infinite normal,
    tempo 3s steps(40) 1s normal both;
}

@keyframes cursor {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes tempo {
  from {
    width: 0;
  }
  to {
    width: 15em;
  }
}

.boxPerfilTexto {
  width: 90%;
  height: auto;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxPerfil {
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoPerfil {
  width: 100%;
  height: 100%;
  border-top-left-radius: 30%;
  border: 3px solid goldenrod;
  animation: logoPerfil 2s ease-in-out;
}

@keyframes logoPerfil {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }
  100% {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
}
.boxTexto {
  width: 74%;
  height: auto;
  border-left: 2px solid goldenrod;
  padding: 15px;
}

.boxTexto p {
  color: white;
  font-size: 22px;
  line-height: 1.5;
  text-align: justify;
  font-family: "Trebuchet MS", sans-serif;
}
@media screen and (max-width: 768px) {
  .boxPerfilTexto {
    flex-direction: column;
  }
  .boxTexto {
    border: none;
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .titulo-animado {
    width: 90%;
  }
  .welcome {
    font-size: 35px;
  }
}
@media screen and (max-width: 400px) {
  .welcome {
    font-size: 30px;
  }
}
