.section-sobre {
  width: 100%;
  height: calc(100dvh - 100px);
  padding-bottom: 20px;
  background-image: url(/assets/img/fundo-cabeçalho.webp);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.titulo-animado {
  max-width: 800px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.welcome {
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  font-size: 50px;
  color: white;
  text-shadow: 0px -3px 15px yellow, 1px 6px 3px black;
  font-family: "Dancing Script", Verdana, Geneva, Tahoma, sans-serif;
  animation: titulo-animado 3s ease infinite,
    cursor 500ms steps(30) infinite normal, tempo 3s steps(40) 1s normal both;
}
@keyframes titulo-animado {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

@keyframes cursor {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes tempo {
  from {
    width: 0;
  }
  to {
    width: 11em;
  }
}

.boxPerfilTexto {
  width: 90%;
  height: auto;
}

.boxPerfil {
  max-width: 290px;
  width: 100%;
  height: 350px;
  float: left;
  margin: 0 10px 10px 0;
}

.logoPerfil {
  width: 100%;
  height: 100%;
  border-top-left-radius: 30%;
  border-radius: 30% 3% 3% 3%;
  border: 3px solid #daa520;
  outline: 3px solid white;
  animation: logoPerfil 2s ease-in-out;
}

@keyframes logoPerfil {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }
  100% {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
}
.boxTexto {
  width: 100%;
  height: 100%;
}

.boxTexto p {
  padding: 8px 10px;
  text-align: justify;
  text-indent: 1em;
  color: black;
  font-size: 22px;
  font-family: "Trebuchet MS", sans-serif;
}

@media screen and (max-width: 1200px) {
  .section-sobre {
    height: auto;
  }
  .boxTexto {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .welcome {
    margin-top: 20px;
    font-size: 30px;
  }
  .boxPerfilTexto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .logoPerfil {
    float: none;
  }
  .boxTexto {
    border: none;
    padding: 0;
  }
}
@media screen and (max-width: 320px) {
  .welcome {
    font-size: 27px;
  }
}
