.section-sobre {
  width: 100%;
  height: calc(100dvh - 100px);
  background-image: url(/assets/img/fundo-cabeçalho.webp);
  background-repeat: no-repeat;
  background-size: 100% 15%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}
html.dark .section-sobre {
  background-image: url(/assets/img/cabeçalho-preto.png);
  background-size: 100% 20%;
}
.titulo-animado {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: titulo-animado 3s ease infinite;
}

@keyframes titulo-animado {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}

.welcome {
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  padding: 10px 0;
  font-size: 3em;
  color: var(--welcome-cl);
  text-shadow: 0px -3px 15px var(--welcome-text-shadow),
    1px 6px 3px var(--welcome-text-shadow_2);
  font-family: "Dancing Script", Verdana, Geneva, Tahoma, sans-serif;
  animation: cursor 500ms steps(30) infinite normal,
    tempo 3s steps(40) 1s normal both;
}

@keyframes cursor {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes tempo {
  from {
    width: 0;
  }
  to {
    width: 11em;
  }
}

.boxPerfilTexto {
  width: 90%;
  height: auto;
}

.boxPerfil {
  max-width: 210px;
  width: 100%;
  height: 250px;
  float: left;
  margin: 0 15px 15px 0;
  border: 2px solid white;
  border-radius: 3%;
  box-shadow: 5px 5px 5px #c39316, -5px -5px 5px #c39316;
}

.logoPerfil {
  width: 100%;
  height: 100%;
  border-radius: 3%;
  filter: drop-shadow(10px 15px 10px #000);
}

.boxTexto {
  width: 100%;
  height: 100%;
}

.boxTexto p {
  text-align: justify;
  text-indent: 1em;
  padding: 0 5px;
  color: var(--main-text-cl);
  font-size: 20px;
  font-family: "Merienda", "Trebuchet MS", sans-serif, Verdana, Geneva, Tahoma;
}

@media screen and (max-width: 1200px) {
  .section-sobre {
    height: auto;
    background-size: contain;
  }
  html.dark .section-sobre {
    background-size: contain;
  }

  .boxTexto {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .welcome {
    font-size: 30px;
  }
  .boxPerfilTexto {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: contain;
  }

  .logoPerfil {
    float: none;
  }
  .boxTexto {
    border: none;
  }
}
@media screen and (max-width: 320px) {
  .welcome {
    font-size: 25px;
  }
}
